#sp_loadForm
{
	text-align: center;
    vertical-align: middle;
}
.sp_texarea
{
	border: 1px solid black;
}
.sp_c_cont
{
	overflow: hidden;
	max-width: 400px;
	width: 400px;
	max-height: 500px;
	margin: 0;
    padding: 0;
	position: relative;
	margin-right:auto;
	margin-left:auto;
}
			
.sp_c
{
	position: relative;
	margin: 0;
    padding: 0;
    list-style: none;
	width: 9999px
}
			
.sp_c li
{
	float: left;
	position: relative;
	left: 0px;
}

#sp_blocked_box {
    text-align: center;
    display: none;
}

.sp_style {
    width: 30%;
    background: #faf7fa !important;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    line-height: 20px;
}

form #sp_post_on_butt input[type="radio"]{position:relative;top:3px;}

.sp_style_input {
    height: 30px;
	width: 60%;
}

div.sp_cont_left {
     width: 150px;
     float: left;
     font-weight: 200;
     line-height: 24px;
     font-size: 12px;
     font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
}

#sp_error {
	text-align: center;
	color: red;
	font-weight: bold;
	height: 20px;
	padding-top: 5px;
	
}

#sp_noim {
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	vertical-align: middle;
	border: 1px dashed black;
	background: #f5f5f5;
}

.sp_im_butt {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
}.sp_im_butt:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.sp_im_butt:active {
	position:relative;
	top:1px;
}

#sp_res_load {
	float:left; 
	padding-right: 10px; 
	padding-top: 10px;
}

#sp_res_load img {
	width: 24px;
	height: 24px;
}

#sp_popup_wrapper #sp-load_ajax-image {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 32px;
   height: 32px;
   margin-top: -16px; /* Half the height */
   margin-left: -16px; /* Half the width */
}

table.wp-list-table td.social.column-social img {
	float: left;
	margin-right: 5px;
	height: 100%;
}

table.wp-list-table td.social.column-social a{
	float: left;
	margin-top: 9px;
}

table.wp-list-table td.social.column-social::after { 
   content: "";
   display: block; 
   visibility: hidden; 
   clear: both;
}

table.wp-list-table td.account.column-account {
	font-weight: 600;
	font-size: 14px;
}

.sp-tip {
	font-weight: 600;
	font-size: 16px;
}

.sp-settings-table  {
	min-width: 545px;
}

.sp-settings-table select, .sp-settings-table input[type="text"]{
	font-size: 16px;
	width: 200px;
}

.sp-post-popup-wrapper.sp-big {
	width: 715px;
}

.sp-post-popup-wrapper.sp-small {
	width: 500px;
}

.sp-post-popup-wrapper .sp-im-wrapper {
	float: left; 
	width: 200px;  
	margin-right: 10px;
}

#sp_im {
	list-style-type: none; 
	padding: 0px; 
	margin: 0px;
}

#sp_im li {
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: contain;
	width: 202px; 
	height: 202px;	
}

.sp_im_nav {
	text-align: center; 
	height: 10px; 
	width: 200px; 
	margin: 10px 0px 20px 0px;
}

.sp-post-popup-wrapper .sp-post-title {
	font-weight: 600;
	margin-bottom: 10px;
	width: 500px;
	height: 30px;
}
.sp-post-popup-wrapper .sp-post-text {
	width: 500px;
	height: 160px
}

.sp-post-popup-wrapper .sp-post-desc {
	width: 100%;
	max-width: 710px;
	height: 50px
}

.sp-post-popup-wrapper .sp-post-pages {
	width: 500px;
	height: 70px;
}